.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 900;
}

.header__link:hover {
  text-decoration: underline;
}
