@media screen and (max-width: 600px) {
  .page::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(
      to bottom,
      rgba(236, 236, 236, 0) 0%,
      #ececec 35%
    );
    pointer-events: none;
    z-index: 2;
  }

  .page_no-mobile-bar::after {
    display: none;
  }

  .gallery__new-card-btn,
  .gallery__practice-btn {
    position: fixed;
    bottom: 64px;

    height: 44px;
    aspect-ratio: auto;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    z-index: 4;
  }

  .gallery__new-card-btn {
    left: 20px;
    right: 20px;

    width: auto;
    max-width: 353px;
    margin: 0 auto;
  }

  .gallery__practice-btn {
    left: auto;
    right: 20px;
    width: calc(50% - 26px);
  }

  .gallery__new-card-btn_location_deck-view {
    left: 20px;
    right: auto;

    width: calc(50% - 26px);
    max-width: none;
    margin: 0;
  }

  .footer {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 3;
  }

  .page_location_carousel .footer {
    position: static;
  }
}
