.page {
  background-color: #ececec;
  font-family: Inter, Arial, Helvetica, sans-serif;

  max-width: 1440px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 20px 40px 32px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #1a1a1a;

  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #1a1a1a;

  font-size: 16px;
  font-weight: 500;
}

.nav__link:hover,
.header__link:hover {
  text-decoration: underline;
}

.page__main-content {
  margin-top: 106px;
  margin-bottom: 138px;
  flex-grow: 1;
}

.decks__title {
  margin: 0;

  font-size: 40px;
  font-weight: 700;

  color: #1a1a1a;
}

.deck {
  width: 325px;
  height: 180px;

  padding: 20px;
  box-sizing: border-box;
  position: relative;

  border-radius: 20px;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}

.deck__content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.decks__title {
  margin: 0 0 40px;

  font-size: 40px;
  font-weight: 700;

  color: #1a1a1a;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__count {
  margin: 0;

  font-size: 16px;
}

.deck__delete-btn {
  width: 24px;
  height: 24px;

  border: none;
  background-color: transparent;

  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 1;
}

.wrapping-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.decks__new-deck-btn {
  width: 325px;
  height: 180px;

  border: none;
  border-radius: 20px;

  background-color: #d9d9d9;

  font-size: 24px;
  font-weight: 700;

  color: rgba(26, 26, 26, 0.5);

  cursor: pointer;
}

.decks__new-deck-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.decks__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__text {
  margin: 0;

  font-size: 16px;
  letter-spacing: -0.16px;

  color: rgba(0, 0, 0, 0.5);
}

.page__main-content_location_carousel {
  margin-top: 106px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__title {
  margin: 0 0 32px;

  font-size: 14px;
  font-weight: 500;

  color: rgba(26, 26, 26, 0.5);
}

.carousel__row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel__card {
  width: 440px;
  height: 300px;

  padding: 20px;
  box-sizing: border-box;

  border-radius: 20px;
  background-color: #64d583;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__card_color_green {
  background-color: #64d583;
}

.carousel__card_color_blue {
  background-color: #91a8f9;
}

.carousel__card_color_pink {
  background-color: #ee92d7;
}

.carousel__card_color_purple {
  background-color: #aa8ef0;
}

.carousel__card_color_orange {
  background-color: #ee955e;
}

.carousel__card_color_yellow {
  background-color: #f5d770;
}

.carousel__card_color_white {
  background-color: white;
}

.carousel__card-text {
  margin: 0;

  font-size: 32px;
  font-weight: 700;
}

.carousel__btn {
  width: 44px;
  height: 44px;

  border: none;
  border-radius: 8px;
  opacity: 0.5;
  background-color: white;

  cursor: pointer;
}

.carousel__btn:hover {
  opacity: 1;
}

.carousel__btn_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.carousel__btn_type_left {
  background-image: url("../images/left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.carousel__btn_type_right {
  background-image: url("../images/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.carousel__btn_type_flip {
  background-image: url("../images/flip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  margin-top: 24px;
}
