.wrapping-row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(325px, 100%), 353px));
  gap: 20px;
}

.wrapping-row__display-contents {
  display: contents;
}

@media screen and (max-width: 750px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fill, 325px);
  }
}
